/* src/ChatOldChats.css */

/* Container for the entire layout */
.chat-old-chats-container {
    display: flex;
    height: 100vh; /* Full viewport height */
}
  
/* Query list container, takes 25% of the width */
.query-list-container {
    flex: 1; /* 1 part of the flex space, equivalent to 25% */
    max-width: 25%; /* Ensure it does not exceed 25% */
    overflow-y: auto; /* Scroll if content exceeds height */
    border-right: 1px solid #37474f; /* Blue-grey border to separate sections */
    background-color: #263238; /* Dark blue-grey background color */
    padding: 16px; /* Optional: add padding */
    color: #eceff1; /* Light text color */
}
  
/* Chat container, takes 75% of the width */
.chatbot-wrapper-container {
    background: transparent;
    margin-left:150px;
    margin-right:150px;
    margin-bottom:50px;
    flex: 3; /* 3 parts of the flex space, equivalent to 75% */
    overflow-y: auto; /* Scroll if content exceeds height */
    /* background-color: #1c1c1c; Very dark background color */
    padding: 16px; /* Optional: add padding */
    color: #eceff1; /* Light text color */
}
